# MariaDB
MARIADB_ROOT_PASSWORD=<YOUR_ROOT_PASSWORD>
MARIADB_DATABASE=<YOUR_DB_NAME>
MARIADB_USER=<YOUR_DB_USER>
MARIADB_PASSWORD=<YOUR_USER_PASSWORD>
MARIADB_HOST=db:3306

# WordPress
WORDPRESS_PORT=8080
WORDPRESS_CONTAINER_PORT=80






